<footer class="{{ color }} d-flex d-flex-between is-column">
  <div class="footer-widgets container d-flex d-flex-between align-start">
    <div class="content d-flex d-flex-between align-start">
      <div class="center-block nav-logo">
        <img src="../../../assets/logo.png" alt="Logo apple boss" />
        <span class="logo">Apple.boss</span>
      </div>
      <p class="white">
        Laissez-nous créer, innover, et vous surprendre — sans jamais perdre de
        vue ce qui fait le côté magique de la technologie Apple. Parce qu'ici,
        on ne se contente pas de suivre la pomme, on la guide vers l'avenir.
      </p>
    </div>
    <div class="content d-flex d-flex-between align-start">
      <p class="white">123 Rue des Pommes, 75001 Paris, France</p>
      <p class="white">Téléphone : +33 1 23 45 67 89</p>
      <p class="white">Email : {{'contact@appleboss-fictif.com'}}</p>
    </div>
    <div class="content d-flex d-flex-between align-start is-column">
      <a href="#" class="white">Audit & conseil</a>
      <a href="#" class="white">Infogérance Apple</a>
      <a href="#" class="white">Conférence webinaire</a>
      <a href="#" class="white">Actualités</a>
      <a href="#" class="white">Partenaires</a>
    </div>
  </div>
  <div class="center-block copy">
    <p class="white">&copy; Coder par Jordaniella</p>
  </div>
</footer>
